
.toogle {
    display: none;
}

nav {
    position: relative;
    display: block;
}

ul{
    display: flex;
    justify-content: end;
    align-items:center;
}

li {
    margin-left: 1.2rem;
}

.navmenu a {
    font-size: 1.1rem;
}

nav ul li:hover{
   border: none;   
}

.braintext {
    font-size: 0.5rem;
}
.container{
    width: 70%;
}
.wrapper{
    width: 70%;
}